# Build directories
bin/
obj/
.env

# Rider/JetBrains files
.idea/
*.sln.iml

# Caches y archivos de configuración temporales
*.cache
*.info
*.nuget/

# Archivos generados por el compilador
*.dll
*.exe
*.pdb
*.json
*.log
*.runtimeconfig.json
*.deps.json

# EditorConfig generados
*.editorconfig
*.DotSettings.user